body {
    background-image: linear-gradient(blue,red);
}

button {
    background-image: linear-gradient(#B4FEE7,#0E050F);
    color:white;
}

#encabezado {
    background-image: linear-gradient(rgb(0, 255, 13),rgb(0, 140, 255));
    color: white;
}

#bio {
    text-align:center;

}

.proyectos {
border: black solid 9px;
margin: 20px;
}