body{ 
    background-color: aqua;
}
img {
    height: 150px;
    width: 750px;
}

h1 {
    background-color: rgb(127, 255, 0);
}

.ciudad {
    background-color: rgb(139, 0, 109);
}

.Comidas {
    background-color: deepskyblue;
}
 
#miencavesado {
    text-align: center;
    font-size: large;
    background-color: rgb(0, 17, 255);
}

#Bio {
    background-color: mediumseagreen;
    color: mintcream;
}

p {
    color: red;
}